version: 2
updates:
  - package-ecosystem: pip
    directory: /projects/verifiable-shuffle
    schedule:
      interval: monthly
    groups:
      minor-and-patch:
        update-types:
          - minor
          - patch
