PUBLIC_ALGOD_SERVER="https://testnet-api.algonode.cloud"
PUBLIC_ALGOD_PORT=""

PUBLIC_INDEXER_SERVER="https://testnet-idx.algonode.cloud"
PUBLIC_INDEXER_PORT=""

PUBLIC_APP_CREATOR="YZ6QR4D3JVDH5JL7HHCWO2HM5R3HXJNOWJUDDVJSGNJR6OG5DERZBCIYRI"
